/*@font-face {
                font-family: MNFM;
                src: url('C:/Windows/Fonts/Mononoki Nerd Font Complete Mono Windows Compatible Regular.ttf');


            }*/
body {
                font-family: "Share Tech Mono",monospace;
                font-size: 13pt;
                background-image: linear-gradient(to bottom right,rgba(0, 0, 100, 0.9),darkviolet),url("191277 (9) copy.jpg");
                color: lightcyan;
                background-size: contain;
                background-repeat: no-repeat;
            }
            
            #gola {
            position: absolute;
            display: none;
            top: 10%;
            left: 50%;
            /*translate: -50%;*/
            transform: translate(-50%);
            border-radius: 50%;
            max-height: 75%;
            border-style: hidden;
            box-shadow: 
                0 0 10px #fff,
                -10px 10px 80px #f0f,
                10px -10px 80px #0ff,
                inset 0 0 50px #fff,
                inset 0px -15px 30px #f0f,
                inset 0px 15px 30px #0ff,
                inset 0px -15px 70px #f0f,
                inset 0px 15px 70px #0ff;
            animation: pulsate 1s linear infinite alternate;
            z-index: 1;
            }
            #haha {
                max-width: 75%;
                margin: auto;

            }
            svg {
                position: relative;
                z-index: 0;

            }
            h1 {
                font-size: 15pt;
                color: #ffffff;
                text-align: center;
                padding: 18px 0 18px 0;
                margin: 0 0 10px 0;
            }
            h1 span {
                border-bottom: 4px solid #ffffff;
                box-shadow: 
                    /*0 0 10px #fff,*/
                    -10px 10px 80px #f0f,
                    10px -10px 80px #0ff,
                    inset 0 0 50px #fff,
                    inset 0px -15px 30px #f0f,
                    inset 0px 15px 30px #0ff,
                    inset 0px -15px 70px #f0f,
                    inset 0px 15px 70px #0ff;
                animation: pulsate 1s linear infinite alternate;
                border-radius: 10px;
                padding: 10px;
            }
            .content {
                padding: 0;
                margin: 0;
            }
            .content:hover {

                filter: drop-shadow(5px 5px 5px white);
            }
            .img-circle {
                border: 3px solid white;
                border-radius: 50%;
            }
            .section {
                display: none;
                background:rgba(255, 255, 255, 0.3);
                padding: 15px;
                margin: auto;
                height: auto;
                text-align: center;
                border-radius: 50%;
                /*border-style: hidden;
                border-width: thin;
                border-color: blueviolet;*/
                position: static;
            }
            .section .closebtn {
                position: absolute;
                right: 3%;
                z-index: 0;
                color: white;
                cursor: pointer;
            }
            @keyframes pulsate {

            100% {
                box-shadow: 
                    0 0 20px #fff,
                    -20px 20px 80px #f0f,
                    20px -20px 80px #0ff,
                    inset 0 0 50px #fff,
                    inset 0px -30px 30px #f0f,
                    inset 0px 30px 30px #0ff,
                    inset 0px -30px 70px #f0f,
                    inset 0px 30px 70px #0ff;
                }
            }
            @keyframes blink1 {
              from {
                fill: white;
              }
              to {
                fill: indigo;
              }
            }
            @keyframes blink2 {
              from {
                fill: white;
              }
              to {
                fill: mediumvioletred;
              }
            }
            @keyframes blink3 {
              from {
                fill: white;
              }
              to {
                fill: rebeccapurple;
              }
            }
            @keyframes blink4 {
              from {
                fill: white;
              }
              to {
                fill: midnightblue;
              }
            }
            @keyframes blink5 {
              from {
                fill: white;
              }
              to {
                fill: purple;
              }
            }
            .txt {
                animation: blink2 1s ease-in infinite alternate;
                font-size: 5pt;
                opacity: 0;
             
            }
            .spots {animation: blink1 1s ease-in infinite alternate;
            }
            #info {
                animation: blink1 1s ease-in infinite alternate;                
            }
            #work {
                animation: blink2 1s ease-in infinite alternate;
            }
            #contact {
                animation: blink3 1s ease-in infinite alternate;
            }
            #resume {
                animation: blink4 1s ease-in infinite alternate;
            }
            #funnies {
                animation: blink5 1s ease-in infinite alternate;
            }
            #quote {
                font-size: 12pt;
                text-align: center;
                margin-top: 10px;
            }
            hr {
                border: 0;
                height: 1px;
                background: lightcyan;
            }
            i:hover ,img:hover {
                filter: drop-shadow(5px 5px 10px white);
            }
            #Social {
                text-align: center;
            }
            i {
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding-top: 25px;
                width: 50%;
                float: left;
                position: relative;
                top: -35px;
            }
            .container {
                box-sizing: border-box;
                position: relative;
            }
            /* Hide the images by default */
            .mySlides {
              display: none;
            }

            /* Add a pointer when hovering over the thumbnail images */
            .cursor {
              cursor: pointer;
            }

            /* Next & previous buttons */
            .prev,
            .next {
              cursor: pointer;
              position: absolute;
              top: 40%;
              width: auto;
              padding: 16px;
              margin-top: -50px;
              color: white;
              font-weight: bold;
              font-size: 20px;
              border-radius: 0 3px 3px 0;
              user-select: none;
              -webkit-user-select: none;
              z-index: 1;
            }

            /* Position the "next button" to the right */
            .next {
              right: 0;
              border-radius: 3px 0 0 3px;
            }

            .prev {
              left: 0;
              border-radius: 0 3px 3px 0;
            }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover,
            .next:hover {
              background-color: rgba(0, 0, 0, 0.8);
            }

            /* Number text (1/3 etc) */
            .numbertext {
              color: #f2f2f2;
              font-size: 12px;
              padding: 8px 12px;
              position: absolute;
              top: 0;
            }

            /* Container for image text */
            .caption-container {
              text-align: center;
              background-color: #222;
              padding: 2px 16px;
              color: white;
            }

            .row:after {
              content: "";
              display: table;
              clear: both;
            }

            /* columns side by side */
            .column {
              float: inline-start;
              width: 8%;
            }

            /* Add a transparency effect for thumnbail images */
            .demo {
              opacity: 0.5;
            }

            .active,
            .demo:hover {
              opacity: 1;
            }